{% extends 'masterTemplate.html' %}
{% load static %}

{% block title %}Show Logs{% endblock %}

{% block content %}
    <div id="tableContent">
        <table id="logTable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{log.date}}</td>
                        <td>{{log.start}}</td>
                        <td>{{log.end}}</td>
                        <td>{{log.duration}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h1>Total Hours: {{totalHours}}</h1>
    </div>
    
    <form hx-get="{% url 'updateTable' %}" hx-target="#tableContent">
        <select name="job">
            <option selected disabled>Select Job</option>
            {% for job in jobs %}
                <option value={{job.id}}>{{job.name}}</option>
            {% endfor %}
        </select>
        <label for="startDate">Start Date</label>
        <input name="startDate" type="date"/>
        <label for="endDate">End Date</label>
        <input name="endDate" type="date"/>

        <button>Sort</button>
    </form>


{% endblock %}